@media only screen and (min-width: 788px) and (max-width: 979px) {
/* HOME */
  .qualidade::after{
     right: 66px;

  }

  .qualidade_lista li{
    padding: 20px;
  }

  .footer_redes ul li a{
    padding: 5px;
  }

  .footer_redes ul li a img{
    width: 26px;
    height: 26px;
  }

  .produtos_item h2{
    top: -120px;
  }
  
  .produtos-icone{
    padding: 34px 0 34px 0;
  }

  .produtos-info p{
    font-size: 14px;
    padding: 20px 30px;
    height: 122px;
  }

  .produtos-info ul li {
    width: 181px;
    height: 49px;
  }

  }
  
@media only screen and (max-width: 787px) {
  /* HOME */
  .header{
    position: relative;
    padding-bottom: 0;
  }

  .header img{
    margin: 0 auto 10px auto;
  }

  .header_menu{
    text-align: center;
    /* display: none; */
  }

  .header_menu ul li{
    margin: 3px;
  }

  .header_menu ul li a {
    border: 4px solid #000;
    width: 140px;
    display: block;
    line-height: 20px;
    float: left;
  }

  .header_menu ul li a:hover{
    border-color: #fff;
  }

  .header_menu ul li a.click{
    border-color: #fff;
  }

  .introducao {
    margin-top: 0;
    padding: 35px;
    background: url(../image/capas/bg-mobile.jpg);
    background-size: cover;
    height: 100%;
  }

  .introducao_interna{
    margin-top: 0;
  }

  .introducao h1 {
    font-size: 36px;
  }

  .portfolio_lista ul li grid-8 img{
    height: 100%;
  }
  
  /* Mudei a altura aqui porque estava quebrando as img da page inicial/portfólio */
  .grid-8-img{
    height: auto;
  }

  .call{
    padding-top: 10px;
  }

  .qualidade{
    padding: 0px;
  }

  .qualidade::after{
    display: none;
  }

  .missao_sobre p {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 15px;
    line-height: 20px;
  }

  .missao_sobre ul li{
    font-size: 15px;
    line-height: 25px;
  }

  .footer_redes ul li a img{
    width: 26px;
    height: 26px;
  }

  .produtos_item h2{
    top: -70px;
    margin-bottom: -50px;
  }
  
  .produtos-icone{
    padding: 20px 0 20px 0;
  }
  .produtos-icone img{
    width: 50%;
  }

  .produtos-info p{
    font-size: 14px;
    padding: 20px 30px;
    height: auto;
  }

  .produtos-info ul li {
    width: 149px;
    height: 49px;
    font-size: 14px;
    line-height: 20px;
  }

  .orcamento{
    display: block;
  }

  .form {
    margin: 0 auto;
  }

  .orcamento_dados{
    padding-top: 30px;
    margin: 0 auto;
  }

  .contato{
    display: block;
  }
  .contato-form{
    margin: 0 auto;
  }

  .contato_dados{
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 0;
  }
  }
  